body {
    background-color: #779cc0;

¨.navbar {
    background-color: #283949;


  font-size: 14px;
}


@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}


@media (min-width: 1024px) {
  .contenedor {
    display: flex;
  }
}
}
   
